.details-container {
    padding: 20px 25px;
}

.title-topper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title, .subtitle {
    color: #06D6A0;
    font-weight: bolder !important;
    font-size: 1.8em !important;
}