<div class="add-property-container basic-container">
    <div class="close-btn" (click)="close()">
        <i class="fa fa-plus"></i>
    </div>
    <div class="title-container">
        <p class="title light-blue">Add a new property</p>
        <hr>
    </div>
    <form id="add-property-form" [formGroup]="addPropertyForm" (ngSubmit)="addProperty()">
        <div class="form-section">
            <p class="subtitle">Basic info:</p>
            <mat-form-field >
                <mat-label>Name</mat-label>
                <input matInput type="text" name="name" formControlName="name" />
                <mat-error *ngIf="addPropertyForm.get('name')?.errors?.['required']">entering name is required</mat-error>
                <mat-error *ngIf="addPropertyForm.get('name')?.errors?.['nameError'] && !addPropertyForm.get('name')?.errors?.['required']">name should be 1-100 characters long</mat-error>
            </mat-form-field>
            <div class="area-and-floors">
                <mat-form-field>
                    <mat-label>Area</mat-label>
                    <input matInput type="number" name="area" formControlName="area" />
                    <mat-error *ngIf="addPropertyForm.get('area')?.errors?.['required']">entering area is required</mat-error>
                    <mat-error *ngIf="addPropertyForm.get('area')?.errors?.['invalidArea'] && !addPropertyForm.get('area')?.errors?.['required']">area should be 0-1000 m2</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Number of floors</mat-label>
                    <input matInput type="number" name="numberOfFloors" formControlName="numberOfFloors"/>
                    <mat-error *ngIf="addPropertyForm.get('numberOfFloors')?.errors?.['required']">entering number of floors is required</mat-error>
                    <mat-error *ngIf="addPropertyForm.get('numberOfFloors')?.errors?.['invalidFloors'] && !addPropertyForm.get('numberOfFloors')?.errors?.['required']">property can have 1-200 floors</mat-error>
                </mat-form-field>
            </div>
            <button class="upload-btn" type="button" (click)="imageInput.click()">
                Upload property image
            </button>
            <div class="img-container">
                <img *ngIf="filePath" [src]="filePath" alt="Selected Image" class="selected-image" />
            </div>
            <input #imageInput type="file" (change)="onFileSelect($event)" style="display: none">
                <p>{{ file['name'] }}</p>
        </div>
        <div class="form-section">
            <p class="subtitle">Address info:</p>
            <mat-form-field class="example-full-width">
                <mat-label>Select city</mat-label>
                <input type="text"
                       aria-label="Number"
                       matInput
                       formControlName="cityAndCountry"
                       [matAutocomplete]="auto"
                       >
                    <mat-autocomplete requireSelection #auto="matAutocomplete" [displayWith]="displayLocation" (optionSelected)="rememberSelection($event)">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{ option.location }}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="addPropertyForm.get('cityAndCountry')?.errors?.['invalidCity'] && !addPropertyForm.get('cityAndCountry')?.errors?.['required']">select one of the given options</mat-error>
            </mat-form-field>
            <mat-form-field >
                <mat-label>Address</mat-label>
                <input matInput type="text" name="address" formControlName="address" (keyup.enter)="onEnterKeyPressed()"/>
                <mat-error *ngIf="addPropertyForm.get('address')?.errors?.['required']">entering address is required</mat-error>
                <!-- <mat-error *ngIf="addPropertyForm.get('address')?.errors?.['nameError'] && !addPropertyForm.get('address')?.errors?.['required']">address</mat-error> -->
            </mat-form-field>
            <app-map (latLngSelected)="decodeSelectedAddress($event)" [markerPosition]="selectedMarkerPosition"></app-map>
        </div>
        <div id="send-request-btn-container">
            <button id="send-request-btn" class="conf-button" type="submit" mat-raised-button>Send request</button>
        </div>
    </form>
</div>
