<div id="rejection-dialog">
    <h3 mat-dialog-title align="center" class="light-blue">Booking denial reason</h3>
      <div mat-dialog-content align="center">
        <form [formGroup]="rejectionReasonForm">
            <mat-form-field>
                <mat-label>Reason</mat-label>
                <input matInput type="text" name="reason" formControlName="reason" placeholder="Reason..." />
                <mat-error *ngIf="rejectionReasonForm.get('reason')?.errors?.['required']">entering reason is required</mat-error>
            </mat-form-field>
      </form>
      <div mat-dialog-actions align="center">
        <button mat-button style="margin-top: 10px !important; margin-bottom: 10px; border: 0;
        padding: 5px 10px !important" class="conf-button add-prop-btn back-green" (click)="submitRejectionReason()">Submit</button>
      </div>
</div>