
h1 { 
    font-weight: bold;
    margin-bottom: 5px !important;
}

::ng-deep .mat-dialog-content {
    overflow: hidden;
    max-height: 100%;
    min-width: 300px;
}

::ng-deep .mat-dialog-actions {
    margin-top: 5px;
    margin-bottom: 0px;
}

mat-form-field {
    width: 100%;
    font-weight: 500;
    line-height: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: px;
    margin-top: 5px !important;
}

mat-form-field input{
    height: 35px;
    font-size: 14px;
    padding-top: 5px;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 12px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 3px 0px 3px 0px !important;
    border: 0px;
}

.mat-error {
    line-height: 12px;
}

mat-label {
    color: #B5B5B5;
    font-size: 14px;
}

.content-container {
    height: 40px;
    padding: 10px;
    text-align: left;
    float: left;
    align-items: center;
    /* margin-left: 10px; */
}

h1 { 
    margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
    ::ng-deep .mat-dialog-content {
        min-width: 250px;
    }
}
