.mat-dialog-container {
    padding: 0 !important;
}



#info-container {
    flex: 1;
    height: 100%;
    padding-left: 20px;
}

#info-container div {
    margin-bottom: 6px;
}

#info-container i {
    margin-right: 8px;
}

.custom-font {
    font-size: 18px;
}

#info-container span {
    font-weight: 400;
    /* font-weight: 600;
    font-size: 0.9em;
    color: #555555 !important */
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-top: -16px;
}

.review-container {
    margin-top: 30px;
    height: 200px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.review-header {
    margin-bottom: 5px;
    display: flex;
}

.review-name {
    font-weight: bold;
    margin-right: 10px;
}

.review-rating {
    margin-right: 5px;
}

.review-comment {
    font-style: italic;
}

.review-card {
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    margin-bottom : 5px;
}

.title {
    margin-top: -15px !important;
    font-size: 1.4em !important;
}

.review-title {
    margin-bottom: -5px !important;
}

.dialog-cont {
    width: 750px;
}

#stars-rev {
    position: absolute;
    right: 5px;
    bottom: -4px;
}

.title-cont {
    position: relative;
}

.discount-cont {
    margin-top: 25px;
    position: relative;
    border: 2px solid lightblue;
    border-radius: 10px;
    padding: 5px;
    width: 90%;
}

.disc-title {
    font-weight: bold;
}

.discount-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.discount-actions {
    position: absolute;
    right: 0px;
    bottom: 25px;
}

#delete-discount-btn {
    width: fit-content;
    margin: 0px;
    padding: 10px !important;
    border-radius: 50px;
    text-align: center;
    color: white;
    min-width: 0px;
    line-height: 1em; 
}

#delete-discount-btn i {
    margin: 0px !important;
}