.mat-dialog-container {
    padding: 0 !important;
}



#info-container {
    flex: 1;
    height: 100%;
    padding-left: 20px;
}

#info-container div {
    margin-bottom: 6px;
}

#info-container i {
    margin-right: 8px;
}

.custom-font {
    font-size: 18px;
}

#info-container span {
    font-weight: 400;
    /* font-weight: 600;
    font-size: 0.9em;
    color: #555555 !important */
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-top: -16px;
}