<div class="basic-container" id="card-container" [ngClass]="{'transition': enableClick}">
    <div [ngClass]="enableClick ? 'image-container' : 'image-container-details'">
        <img src={{property.image}} style="width: 100%; height: 100%; border-radius: 20px 0px 0px 20px; object-fit: cover;"/>
    </div>

    <div id="info-container">
        <div>
            <div style="display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: self-end">
                <h2  [ngClass]="enableClick ? 'light-blue' : 'h2-bigger-font light-blue'">{{ property.name }}</h2>
            </div>
        <div>
            <i [ngClass]="enableClick ? 'fa-solid fa-location-dot red' : 'custom-font fa-solid fa-location-dot red'" ></i>
            <span [ngClass]="enableClick ? 'black' : 'custom-font black'">{{ property.address.name }}</span>
        </div>
        <div>
            <i [ngClass]="enableClick ? 'fa-solid fa-earth-americas green' : 'custom-font fa-solid fa-earth-americas green'" ></i>
            <span [ngClass]="enableClick ? 'black' : 'custom-font black'">{{ property.address.city + ", " + property.address.country}}</span>
        </div>
        <div>
            <i [ngClass]="enableClick ? 'fa-solid fa-maximize' : 'custom-font fa-solid fa-maximize'" ></i>
            <span [ngClass]="enableClick ? 'black' : 'custom-font black'">{{ property.area }} m2</span>

        </div>
        <div>
            <i [ngClass]="enableClick ? 'fa-solid fa-layer-group blue' : 'custom-font fa-solid fa-layer-group blue'" ></i>
            <span [ngClass]="enableClick ? 'black' : 'custom-font black'">{{ property.numOfFloors }} floors</span>

        </div>
        </div>
    
    </div>
</div>
