<!-- <button class="conf-button add-prop-btn back-light-blue" (click)="openAddPropertyDialog()"><i class="fa fa-circle-plus"></i>Request a new property</button> -->
<!-- <button class="conf-button add-prop-btn back-light-blue" (click)="openChooseDeviceTypeDialog()"><i class="fa fa-circle-plus"></i>Add new device</button> -->
<div class="homepage-container">
    <div class="title-container">
        <div class="title-topper" style="justify-content: space-between;">
            <p class="title" *ngIf="role == 'ROLE_OWNER'">Bookings</p>
            <p class="title" *ngIf="role == 'ROLE_TRAVELER'">Your bookings</p>
            <mat-form-field style="    width: 100px;
            /* float: right; */
            margin-right: 0;
            margin-top: 0;">
                <mat-label>Status</mat-label>
                <select matNativeControl required [(ngModel)]="selectedCar" (ngModelChange)="onStatusChange($event)" name="car">
                  <option value="PENDING">Pending</option>
                  <option value="ACCEPTED">Accepted</option>
                  <option value="DENIED">Denied</option>
                  <option value="CANCELED">Canceled</option>
                </select>
            </mat-form-field>
            <!-- <button *ngIf="role == 'ROLE_OWNER'" class="conf-button add-prop-btn back-light-blue"><i class="fa fa-circle-plus"></i>Create new listing</button> -->
        </div>
        <hr>
    </div>
    <div class="card-holder">
        <div *ngIf="bookings.length == 0">
           <p class="dark-gray">Oh! You haven't had any bookings with us yet. We're waiting for you!</p> 
        </div>
                <!-- <app-property-card [property]="property" [enableClick]="true" (click)="openPropertyDetails(i)" (rejectionCompleted)="processRejection($event)"></app-property-card>
            <p>{{ property.title }}</p> -->
            <div *ngFor="let booking of bookings; let i = index"  class="basic-container" style="width: 300px;" id="card-container" [ngClass]="{'transition': enableClick}">
                <div id="info-container" style="padding: 0; margin-bottom: 15px;">
                    <div>
                        <div style="display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: self-end">
                            <h2  [ngClass]="enableClick ? 'light-blue' : 'h2-bigger-font light-blue'">{{booking.listingName}}</h2>
                        </div>
                    <div *ngIf="role == 'ROLE_OWNER' || role == 'ROLE_ADMIN'" class="info-card info-card-first">
                        <i [ngClass]="enableClick ? 'fa-solid fa-regular fa-user' : 'custom-font fa-regular fa-user green'" ></i>
                        <span [ngClass]="enableClick ? 'black' : 'custom-font black'" >Traveler: <span style="font-weight: 600 !important;">{{booking.travelerName}}</span></span>
                    </div>
                    <div *ngIf="role == 'ROLE_TRAVELER'|| role == 'ROLE_ADMIN'" class="info-card info-card-first">
                        <i [ngClass]="enableClick ? 'fa-solid fa-regular fa-user' : 'custom-font fa-regular fa-user green'" ></i>
                        <span [ngClass]="enableClick ? 'black' : 'custom-font black'" >Owner: <span style="font-weight: 600 !important;">{{booking.ownerName}}</span></span>
                    </div>
                    <div class="info-card">
                        <i [ngClass]="enableClick ? 'fa-regular fa-clock blue' : 'custom-font fa-regular fa-clock blue'" ></i>
                        <span [ngClass]="enableClick ? 'black' : 'custom-font black'" >Start date: <span style="font-weight: 600 !important;">{{ booking.startDate | date:'dd.MM.yyyy' }}</span></span>
                    </div>
                    <div class="info-card">
                        <i [ngClass]="enableClick ? 'fa-solid fa-clock blue' : 'custom-font fa-solid fa-clock blue'" ></i>
                        <span [ngClass]="enableClick ? 'black' : 'custom-font black'">End date: <span style="font-weight: 600 !important;">{{ booking.endDate | date:'dd.MM.yyyy' }}</span></span>
                    </div>
                    <!-- <div>
                        <i [ngClass]="enableClick ? 'fa-solid fa-layer-group blue' : 'custom-font fa-solid fa-layer-group blue'" ></i>
                        <span [ngClass]="enableClick ? 'black' : 'custom-font black'">{{ listing.owner?.name + " " + listing.owner?.lastname }}</span>
                    </div> -->
                    </div>
                    <div *ngIf="role == 'ROLE_TRAVELER'" style="float: right; margin-right: 15px; margin-bottom: -20px;">
                        <div [ngClass]="{
                            'pending-status': status == 'PENDING',
                            'active-status': status == 'ACCEPTED',
                            'denied-status': status == 'DENIED' || status == 'CANCELED',
                            'status': true
                          }" class="active-button">{{ status!.toLowerCase() }}</div>
                    </div>

                    <div *ngIf="role == 'ROLE_OWNER' && status != 'PENDING'" style="float: right; margin-right: 15px; margin-bottom: -20px;">
                        <div [ngClass]="{
                            'active-status': status == 'ACCEPTED',
                            'denied-status': status == 'DENIED' || status == 'CANCELED',
                            'status': true
                          }" class="active-button">{{ status!.toLowerCase() }}</div>
                    </div>
                    <div *ngIf="role == 'ROLE_OWNER' && status == 'PENDING'" style="float: right; margin-left: 100px; margin-bottom: -20px;">
                        <button *ngIf="role == 'ROLE_OWNER'" style="margin-top: 10px !important; margin-bottom: 10px; margin-right: 15px; width: 80px;" class="conf-button add-prop-btn back-green" (click)="acceptBooking(i)">Accept</button>
                        <button *ngIf="role == 'ROLE_OWNER'" style="margin-top: 10px !important; margin-bottom: 10px; width: 80px;" class="conf-button add-prop-btn back-red" (click)="denyBooking(i)">Deny</button>
                    </div>
                    <div *ngIf="role == 'ROLE_TRAVELER' && status == 'PENDING'" style="float: right; margin-left: 100px; margin-bottom: -20px;">
                        <button *ngIf="booking.reviewable" style="margin-top: 10px !important; margin-right: 5px;  margin-bottom: -5px; width: 80px;" class="conf-button add-prop-btn back-orange" (click)="openDialog(i)">Rate</button>
                        <button style="margin-top: 10px !important; margin-bottom: -5px; width: 80px;" class="conf-button add-prop-btn back-red" (click)="cancelBooking(i)">Cancel</button>
                        <div *ngIf="booking.reviewByTraveler" id="stars">
                            <ngx-star-rating [ngModel]="booking.reviewByTraveler.rating" [disabled]="true"></ngx-star-rating> 
                        </div>
                    </div>
            </div>
            </div>
    </div>
</div>


